<nav class="sidebar-menu">

    <h1>
        <small [innerHtml]="'Digitorial for the exhibition' | translate"></small>
        <span [innerHtml]="'Digitorial title' | translate"></span>
    </h1>

    <ol *ngIf="navigationItems">
        <li *ngFor="let navigationItem of navigationItems; let idx=index" routerLinkActive="item-active" [ngClass]="'sitemap-state-'+navigationItem.state" >
            <a *ngIf="useRouterLink" (click)="onClick($event,navigationItem)" [routerLink]="[lang,navigationItem.slug]" [innerHTML]="navigationItem.title | translate"></a>
            <a *ngIf="!useRouterLink" (click)="onClick($event,navigationItem)" href="#" [innerHTML]="navigationItem.title | translate"></a>
            <div class="spinner" [inlineSVG]="'/assets/images/spinner.svg'"></div>
        </li>
    </ol>


</nav>
