@import '../../../node_modules/kio-ng2-uiux/scss/utils';

.sidebar-menu {
    padding: $row-gutter*2 $column-gutter;

    * {
        color: $color-font-bright;
    }

    h1 {
        margin-bottom: $row-gutter*1.5;

        font-size: rem-calc(40);
        font-weight: normal;
        line-height: 1;

        @extend %default-sans-serif;
        small {
            display: block;

            font-size: 0.5em;
            line-height: 1;
        }
    }
    ol {
        margin: 0;
        padding: 0 0 0 1.4em;

        list-style-position: outside;

        li {
            margin-bottom: $row-gutter/2;

            font-size: rem-calc(22);

            @extend %default-sans-serif;

            a {
                text-decoration: none;
            }

            .spinner {
                display: none;
            }

            &.sitemap-state-1 {
                .spinner {
                    display: inline;
                    svg {
                        width: rem-calc(10);
                        height: rem-calc(10);

                        animation: spin 2s linear 0s infinite;
                        path {
                            stroke: $color-font-bright;
                            fill: $color-font-bright;
                        }
                    }
                }
            }
        }
    }
}
